@import '../../../variables.scss';

.card-box {
	border: 1px solid $color-gray;
	border-radius: 10px;
	box-sizing: border-box;
	padding: $size-base-s $size-base;

	&__header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		&--title {
			font-size: 1.2rem;
			font-weight: 600;
			line-height: 1.3rem;
			padding-top: $size-base-l;
			@include center;
			text-transform: uppercase;
			
			span {
				color: $color-primary;
			}
		}
	}

	&__body {
		&--text {
			font-size: 0.8rem;
			font-weight: 500;
			line-height: 1rem;
			@include center;
		}
	}
}